* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

#myVideo {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
ul.sidebar {
  z-index: 10;
  width: 115px;
  background-color: #555;
  position: fixed;
  text-align: center;
}

ul.sidebar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.sidebar a:hover {
  background-color: #000;
}
ul.switchnav {
    font-size: 25;
}
.active {
  background-color: #4CAF50;
}
