.HomeButton {
  filter: invert(1);
}
.Settings {
  filter: invert(1);
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cf/Dale_Creek_Bridge_Union_Pacific_Railroad_Company_by_Andrew_J_Russell.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/East_west_shaking_hands_by_russell.jpg/1920px-East_west_shaking_hands_by_russell.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/65/44._Cape_Horn%2C_C.P.R.R.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 40px;
  letter-spacing: 1px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
}
}
