body {
  margin: 0;
  background: url("https://upload.wikimedia.org/wikipedia/commons/f/f8/The_Last_Spike_1869.jpg");
  background-size: 160%;
}

h1 {
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-family: Noto, serif;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
  transition-duration: 1s;
  -webkit-background-clip: text;
}

h1:hover {
  letter-spacing: 10px;
}
